<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:web="http://xmlns.jcp.org/xml/ns/javaee">
  <display-name>Money Track</display-name>

  <servlet>
    <servlet-name>Main</servlet-name>
    <servlet-class>com.smartware.app.web.MainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Main</servlet-name>
    <url-pattern>/Main</url-pattern>
  </servlet-mapping>

</web-app>