<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:web="http://xmlns.jcp.org/xml/ns/javaee">
  <display-name>Money Track</display-name>

  <error-page>
    <exception-type>java.lang.Throwable</exception-type>
    <location>/view/error.jsp</location>
  </error-page>

  <servlet>
    <servlet-name>Main</servlet-name>
    <servlet-class>com.smartware.app.web.MainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Main</servlet-name>
    <url-pattern>/Main</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Expense</servlet-name>
    <servlet-class>com.smartware.app.web.ExpenseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Expense</servlet-name>
    <url-pattern>/Expense</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Withdrawal</servlet-name>
    <servlet-class>com.smartware.app.web.WithdrawalServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Withdrawal</servlet-name>
    <url-pattern>/Withdrawal</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>CreditCardPayment</servlet-name>
    <servlet-class>com.smartware.app.web.CreditCardPaymentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreditCardPayment</servlet-name>
    <url-pattern>/CreditCardPayment</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>GotSalary</servlet-name>
    <servlet-class>com.smartware.app.web.GotSalaryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GotSalary</servlet-name>
    <url-pattern>/GotSalary</url-pattern>
  </servlet-mapping>

</web-app>
